<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #012169;"></span>
		<span class="sg-label">Pantone 280<br>#012169</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #003da5;"></span>
		<span class="sg-label">Pantone 293<br>#003da5</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #bbbcbc;"></span>
		<span class="sg-label">Pantone Cool Gray 4<br>#bbbcbc</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #d6d2c4;"></span>
		<span class="sg-label">Pantone 7527<br>#d6d2c4</span>
	</li>
</ul>