<ul class="sg-colors">
    <li>
		<span class="sg-swatch" style="background: #edeeee;"></span>
        <span class="sg-label"><code>$gray-100</code>: #edeeee</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #dddddf;"></span>
		<span class="sg-label"><code>$gray-200</code>: #dddddf</span>
	</li>  
	<li>
		<span class="sg-swatch" style="background: #cdcecf;"></span>
		<span class="sg-label"><code>$gray-300</code>: #cdcecf</span>
	</li>    
	<li>
		<span class="sg-swatch" style="background: #bcbdc0;"></span>
		<span class="sg-label"><code>$gray-400</code>: #bcbdc0</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #adaeb0;"></span>
		<span class="sg-label"><code>$gray-500</code>: #adaeb0</span>
	</li>      
	<li>
		<span class="sg-swatch" style="background: #9d9fa2;"></span>
		<span class="sg-label"><code>$gray-600</code>: #9d9fa2</span>
	</li>  
	<li>
		<span class="sg-swatch" style="background: #8e9093;"></span>
		<span class="sg-label"><code>$gray-700</code>: #8e9093</span>
	</li>    
    <li>
		<span class="sg-swatch" style="background: #7f8185;"></span>
		<span class="sg-label"><code>$gray-800</code>: #7f8185</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #717277;"></span>
		<span class="sg-label"><code>$gray-900</code>: #717277</span>
	</li>
    
</ul>
