<div><p>Adobe Caslon</p></div>

<div class ="caslon">
    ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    1234567890!@#$%^*()
</div>
<div class ="caslon">
    <em>ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    1234567890!@#$%^*()</em>
</div>
<div class ="caslon">
    <strong>ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    1234567890!@#$%^*()</strong>
</div>
<hr>

<div><p>Futura</p></div>

<div>
    ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    1234567890!@#$%^*()
</div>
<div>
    <em>ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    1234567890!@#$%^*()</em>
</div>
<div>
    <strong>ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    1234567890!@#$%^*()</strong>
</div>

