<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #041e42;"></span>
    	<span class="sg-label">Georgetown Blue <br>
		#041e42</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #63666a;"></span>
		<span class="sg-label">Georgetown Gray<br>#63666a</span>
	</li>
</ul>