<div class ="container-fluid">
    <div class="row no-gutters">
        {% for var, col in gridSystem %}
        <div class ="col-24 col-md-1å text-white {{col}}">
            {{var}}
        </div>
    å   {% endfor%}
    </div>
</div>