<div class ="caslon">
    Adobe Caslon Pro: adobe-caslon-pro, serif;
</div>
<div class ="caslon font-italic">
    Adobe Caslon Pro Italic: adobe-caslon-pro, serif;
</div>

<div class ="caslon font-weight-semibold">
    Adobe Caslon Pro Semibold: adobe-caslon-pro, serif;
</div>
<div class ="caslon font-italic font-weight-semibold">
    Adobe Caslon Pro Semibold Italic: adobe-caslon-pro, serif;
</div>

<div class ="caslon font-weight-bold">
    Adobe Caslon Pro Bold: adobe-caslon-pro, serif;
</div>
<div class ="caslon font-weight-bold font-italic">
    Adobe Caslon Pro Bold italic: adobe-caslon-pro, serif;
</div>
