<div class ="futura">
    Futura PT Light: futura-pt, sans-serif;
</div>
<div class ="futura font-italic">
     Futura PT Light Oblique:futura-pt, sans-serif;
</div>

<div class ="futura font-weight-normal">
    Futura PT Book: futura-pt, sans-serif;
</div>
<div class ="futura font-weight-normal font-italic">
    Futura PT Book Oblique: futura-pt, sans-serif;
</div>

<div class ="futura font-weight-medium">
    Futura PT Medium: futura-pt, sans-serif;
</div>
<div class ="futura font-weight-medium font-italic">
    Futura PT Medium Oblique: futura-pt, sans-serif;
</div>

<div class ="futura font-weight-semibold">
    Futura PT Demi: futura-pt, sans-serif;
</div>
<div class ="futura font-weight-semibold font-italic">
    Futura PT Demi Oblique: futura-pt, sans-serif;
</div>

<div class ="futura font-weight-bold">
    Futura PT Heavy: futura-pt, sans-serif;
</div>
<div class ="futura font-weight-bold font-italic">
    Futura PT Heavy Oblique: futura-pt, sans-serif;
</div>

<div class ="futura-bold">
    Futura PT Bold: futura-pt-bold, sans-serif;
</div>
<div class ="futura-bold font-italic">
     Futura PT Bold Oblique: futura-pt-bold, sans-serif;
</div>

<div class ="futura font-weight-bolder">
    Futura PT Extra Bold: futura-pt, sans-serif;
</div>
<div class ="futura font-weight-bolder font-italic">
    Futura PT Extra Bold Oblique: futura-pt, sans-serif;
</div>

<div class ="futura-condensed">
    Futura PT Cond Book: futura-pt-condensed, sans-serif;
</div>
<div class ="futura-condensed font-italic">
    Futura PT Cond Book Oblique: futura-pt-condensed, sans-serif;
</div>

<div class ="futura-condensed font-weight-medium">
    Futura PT Cond Medium: futura-pt-condensed, sans-serif;
</div>
<div class ="futura-condensed font-weight-medium font-italic">
    Futura PT Cond Medium Oblique: futura-pt-condensed, sans-serif;
</div>

<div class ="futura-condensed font-weight-bold">
    Futura PT Cond Bold: futura-pt-condensed, sans-serif;
</div>
<div class ="futura-condensed font-weight-bold font-italic">
    Futura PT Cond Bold Oblique: futura-pt-condensed, sans-serif;
</div>

<div class ="futura-condensed font-weight-bolder">
    Futura PT Cond Extra Bold: futura-pt-condensed, sans-serif;
</div>
<div class ="futura-condensed font-weight-bolder font-italic">
    Futura PT Cond Extra Bold Oblique: futura-pt-condensed, sans-serif;
</div>