<svg width="100%" height="100%" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <style>.logo-fill{fill:{{svg.interface_icon.fill}};}</style>
    <title>icon/social/facebook</title>
    <g id="icon/social/facebook" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path class="logo-fill" d="M23.9512,6 L7.0488,6 C6.46956375,6 6,6.46956375 6,7.0488 L6,23.9512 C6,24.5304362 6.46956375,25 7.0488,25 L16.14904,25 L16.14904,17.65232 L13.68132,17.65232 L13.68132,14.77648 L16.14904,14.77648 L16.14904,12.6614 C16.14904,10.20736 17.64776,8.87128 19.83732,8.87128 C20.5762868,8.86864677 21.3148441,8.90644995 22.04968,8.98452 L22.04968,11.548 L20.53576,11.548 C19.34788,11.548 19.11836,12.11344 19.11836,12.94412 L19.11836,14.77572 L21.96608,14.77572 L21.5952,17.65156 L19.11836,17.65156 L19.11836,25 L23.9512,25 C24.5304362,25 25,24.5304362 25,23.9512 L25,7.0488 C25,6.46956375 24.5304362,6 23.9512,6 Z" id="socialicon-facebook-path"></path>
    </g>
</svg>