<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #041e42;"></span>
        <span class="sg-label"><code>$primary</code>: #041e42</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #63666a;"></span>
        <span class="sg-label"><code>$secondary</code>: #63666a</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #64a70b;"></span>
        <span class="sg-label"><code>$success</code>: #64a70b</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #d50032;"></span>
        <span class="sg-label"><code>$danger</code>: #d50032</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #f8e08e;"></span>
        <span class="sg-label"><code>Warning</code>: #f8e08e</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #00b5e2;"></span>
        <span class="sg-label"><code>$info</code>: #00b5e2</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #003da5;"></span>
        <span class="sg-label"><code>$light</code>: #003da5</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #041e42;"></span>
        <span class="sg-label"><code>$dark</code>: #041e42</span>
	</li>
</ul>