<div class ="caslon">
    Primary font: adobe-caslon-pro, serif;
</div>
<div class ="caslon font-italic">
    Primary font italic: adobe-caslon-pro, serif;
</div>

<div>
    Primary font semibold: adobe-caslon-pro, serif;
</div>
<div>
    <em>
    Primary font semibold italic: adobe-caslon-pro, serif;
    </em>
</div>

<div>
    Primary font bold: adobe-caslon-pro, serif;
</div>
<div>
    <em>
    Primary font bold italic: adobe-caslon-pro, serif;
    </em>
</div>
