<div class ="container-fluid">
    <div class ="row">
        <div class ="col col-xs-6">
            <img style="background-color: #041e42" class ="img-fluid" src="{{ img.bgd_logo.src }}" alt="{{ img.bgd_logo.alt }}" />
        </div>        
    </div>
</div>
