<div class ="container-fluid">
    <div class ="row">
        <div class ="col">
            <img class ="img-fluid" src="{{ img.stacked_logo_blue.src }}" alt="{{ img.stacked_logo_blue.alt }}" />
        </div>
        <div class ="col">
            <img class ="img-fluid" src="{{ img.stacked_logo_black.src }}" alt="{{ img.stacked_logo_black.alt }}" />
        </div>        
    </div>
</div>
