/**
 * This stylesheet is for styles you want to include 
 * addtion to bootstrap and pattern-lab defealt style
 */

.caslon{
    font-family: adobe-caslon-pro, serif;
    font-style: normal;
    font-weight: 400;
}

.futura{
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 300;
}

.futura-bold{
    font-family: futura-pt-bold, sans-serif;
    font-style: normal;
    font-weight: 700;
}

.font-weight-medium{
    font-weight: 500;
}

.font-weight-semibold{
    font-weight: 600;
}

.font-weight-bolder{
    font-weight: 800;
}

