<div><small>Adobe Caslon</small></div><br>
<div>ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    1234567890!@#$%^*()

</div>
<div><em>ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    1234567890!@#$%^*()</em></div>
<div><strong>ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    1234567890!@#$%^*()</strong></div><hr>
<div><small>Futura</small></div><br>

<div class="font-secondary">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    1234567890!@#$%^*()</div>
<div class="font-secondary"><em>ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    1234567890!@#$%^*()</em></div>
<div class="font-secondary"><strong>ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    1234567890!@#$%^*()</strong></div>

