<svg width="100%" height="100%" viewBox="0 0 35 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <style>.logo-fill{fill:{{svg.interface_icon.fill}};}</style>
    <title>icon/search</title>
    <g id="icon/search" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path class="logo-fill" d="M21.6741289,20.2377733 L27,25.5636444 L25.5636444,27 L20.2377733,21.6741289 C18.9562187,22.6532504 17.3547425,23.2348518 15.6174259,23.2348518 C11.4104377,23.2348518 8,19.8244141 8,15.6174259 C8,11.4104377 11.4104377,8 15.6174259,8 C19.8244141,8 23.2348518,11.4104377 23.2348518,15.6174259 C23.2348518,17.3547425 22.6532504,18.9562187 21.6741289,20.2377733 Z M15.6174259,21.2035383 C18.7025506,21.2035383 21.2035383,18.7025506 21.2035383,15.6174259 C21.2035383,12.5323013 18.7025506,10.0313136 15.6174259,10.0313136 C12.5323013,10.0313136 10.0313136,12.5323013 10.0313136,15.6174259 C10.0313136,18.7025506 12.5323013,21.2035383 15.6174259,21.2035383 Z" id="search"></path>
    </g>
</svg>