<div class ="container-fluid">
    <div class ="row">
        <div class ="col pt-4 pb-4">
            <a href="{# linkHref #}" class="{{ textButtonClass }}">{{ btnText }}</a>
        </div>
        <div class ="col bg-dark pt-4 pb-4">
            <a href="{# linkHref #}" class="text-white {{ textButtonClass }}">{{ btnText }}</a>
        </div>
    </div>
</div>