<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #003da5;"></span>
    	<span class="sg-label">Primary<br>
		#003da5</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #63666a;"></span>
		<span class="sg-label">Secondary<br>#63666a</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #63666a;"></span>
		<span class="sg-label">Success<br>#63666a</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #63666a;"></span>
		<span class="sg-label">Danger<br>#63666a</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #63666a;"></span>
		<span class="sg-label">Warning<br>#63666a</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #63666a;"></span>
		<span class="sg-label">Info<br>#63666a</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #f8f9fa;"></span>
		<span class="sg-label">Light<br>#f8f9fa</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #041e42;"></span>
		<span class="sg-label">Dark<br>#041e42</span>
	</li>
</ul>