<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #4A4A4A;"></span>
		<span class="sg-label">Dark Gray (Body Text)<br>#4A4A4A</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #CCCCCC;"></span>
		<span class="sg-label">Divider Gray<br>#CCCCCC</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F0F0F0;"></span>
		<span class="sg-label">Light Gray (Backgrounds)<br>#F0F0F0</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFFFFF;"></span>
		<span class="sg-label">White<br>#FFFFFF</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #00A1CA;"></span>
		<span class="sg-label">Keyboard Focus<br>#00A1CA</span>
	</li>  
    <li>
		<span class="sg-swatch" style="background: #D50032;"></span>
		<span class="sg-label">Error Red<br>#D50032</span>
	</li>  
</ul>