<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #00B5E2;"></span>
		<span class="sg-label">Pantone 306<br>#00B5E2</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #02BAE6;"></span>
		<span class="sg-label">90%<br>#02BAE6</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #37C2E8;"></span>
		<span class="sg-label">80%<br>#37C2E8</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #5FC9EB;"></span>
		<span class="sg-label">70%<br>#5FC9EB</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #7CD1EE;"></span>
		<span class="sg-label">60%<br>#7CD1EE</span>
	</li>  
    <li>
		<span class="sg-swatch" style="background: #95D8F0;"></span>
		<span class="sg-label">50%<br>#95D8F0</span>
	</li>  
	<li>
		<span class="sg-swatch" style="background: #ACE0F3;"></span>
		<span class="sg-label">40%<br>#ACE0F3</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #C1E8F5;"></span>
		<span class="sg-label">30%<br>#C1E8F5</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #D6EFF9;"></span>
		<span class="sg-label">20%<br>#D6EFF9</span>
	</li>  
    <li>
		<span class="sg-swatch" style="background: #EAF6FB;"></span>
		<span class="sg-label">10%<br>#EAF6FB</span>
	</li>      
</ul>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #BBBCBC;"></span>
		<span class="sg-label">Cool Gray 4<br>#BBBCBC</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #C1C1C1;"></span>
		<span class="sg-label">90%<br>#C1C1C1</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #C7C7C7;"></span>
		<span class="sg-label">80%<br>#C7C7C7</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #CECFCF;"></span>
		<span class="sg-label">70%<br>#CECFCF</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #D5D5D5;"></span>
		<span class="sg-label">60%<br>#D5D5D5</span>
	</li>  
    <li>
		<span class="sg-swatch" style="background: #DCDCDC;"></span>
		<span class="sg-label">50%<br>#DCDCDC</span>
	</li>  
	<li>
		<span class="sg-swatch" style="background: #E2E2E2;"></span>
		<span class="sg-label">40%<br>#E2E2E2</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E9E9E9;"></span>
		<span class="sg-label">30%<br>#E9E9E9</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F0F0F0;"></span>
		<span class="sg-label">20%<br>#F0F0F0</span>
	</li>  
    <li>
		<span class="sg-swatch" style="background: #F7F7F7;"></span>
		<span class="sg-label">10%<br>#F7F7F7</span>
	</li>      
</ul>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #63666A;"></span>
		<span class="sg-label">Georgetown Gray<br>#63666A</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #717277;"></span>
		<span class="sg-label">90%<br>#717277</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #7F8185;"></span>
		<span class="sg-label">80%<br>#7F8185</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #8E9093;"></span>
		<span class="sg-label">70%<br>#8E9093</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #9D9FA2;"></span>
		<span class="sg-label">60%<br>#9D9FA2</span>
	</li>  
    <li>
		<span class="sg-swatch" style="background: #ADAEB0;"></span>
		<span class="sg-label">50%<br>#ADAEB0</span>
	</li>  
	<li>
		<span class="sg-swatch" style="background: #BCBDC0;"></span>
		<span class="sg-label">40%<br>#BCBDC0</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #CDCECF;"></span>
		<span class="sg-label">30%<br>#CDCECF</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #DDDDDF;"></span>
		<span class="sg-label">20%<br>#DDDDDF</span>
	</li>  
    <li>
		<span class="sg-swatch" style="background: #EDEEEE;"></span>
		<span class="sg-label">10%<br>#EDEEEE</span>
	</li>      
</ul>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #64A70B;"></span>
		<span class="sg-label">Pantone 369<br>#64A70B</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #73AF32;"></span>
		<span class="sg-label">90%<br>#73AF32</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #83B84B;"></span>
		<span class="sg-label">80%<br>#83B84B</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #94C063;"></span>
		<span class="sg-label">70%<br>#94C063</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #A3C978;"></span>
		<span class="sg-label">60%<br>#A3C978</span>
	</li>  
    <li>
		<span class="sg-swatch" style="background: #B3D28E;"></span>
		<span class="sg-label">50%<br>#B3D28E</span>
	</li>  
	<li>
		<span class="sg-swatch" style="background: #C2DBA4;"></span>
		<span class="sg-label">40%<br>#C2DBA4</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #D1E3BA;"></span>
		<span class="sg-label">30%<br>#D1E3BA</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E0ECD0;"></span>
		<span class="sg-label">20%<br>#E0ECD0</span>
	</li>  
    <li>
		<span class="sg-swatch" style="background: #EFF5E7;"></span>
		<span class="sg-label">10%<br>#EFF5E7</span>
	</li>      
</ul>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #D6D2C4;"></span>
		<span class="sg-label">Pantone 7527<br>#D6D2C4</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #EEE8E0;"></span>
		<span class="sg-label">90%<br>#EEE8E0</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F0EAE3;"></span>
		<span class="sg-label">80%<br>#F0EAE3</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F2EDE5;"></span>
		<span class="sg-label">70%<br>#F2EDE5</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F3EFE8;"></span>
		<span class="sg-label">60%<br>#F3EFE8</span>
	</li>  
    <li>
		<span class="sg-swatch" style="background: #F5F0EB;"></span>
		<span class="sg-label">50%<br>#F5F0EB</span>
	</li>  
	<li>
		<span class="sg-swatch" style="background: #F6F3EE;"></span>
		<span class="sg-label">40%<br>#F6F3EE</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F8F6F1;"></span>
		<span class="sg-label">30%<br>#F8F6F1</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FAF8F5;"></span>
		<span class="sg-label">20%<br>#FAF8F5</span>
	</li>  
    <li>
		<span class="sg-swatch" style="background: #FCFCFA;"></span>
		<span class="sg-label">10%<br>#FCFCFA</span>
	</li>      
</ul>